body {
    padding: 0;
    margin: 20px;
    box-sizing: border-box;
    background: #f7ebe9;

    font-family: Arial, Helvetica, sans-serif;
}

h1 {

    padding: 5px 10px 5px;
    color: white;
    background-color: #a86454;
    display: inline;
}

p {
    color:rgb(0, 0, 0);
}

.templating {
    h1 {
        display: block;
        li {
            margin: 5px 50px;
            color: moccasin;
            font-size: smaller;
        }
    }
    img {
        display: block;
       margin: 0px auto;
    }
    
}
.pug{
    h1 {
        display: block;
    }
}

.commande-install {
    display: inline;
    padding: 2px 10px 2px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    background: white;
}




.syntaxe {
    display: flex;
    .version-pug {
        display: block;
        width: 35%;
        padding: 2px 10px 2px;
        font-family: 'Courier New', Courier, monospace;
        border: 1px solid black;
        background: white;
    }
    .version-html {
        .commande-html {
            display: block;
            width: 20%;
            padding: 2px 10px 2px;
            font-family: 'Courier New', Courier, monospace;
            border: 1px solid black;
            background: white;
        }
    }
}

    


