<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le templating</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body> 
    <article class="templating"> 
      <h1>LE TEMPLATING</h1>
      <h3>Qu'est-ce que c'est ?</h3>
      <p>Le templating est plus connu sous le nom de "Moteur de template". C'est un outil qui permet de simplifer la syntaxe au niveau de la structure HTML.</p>
      <p>Je vais vous parler plus précisément du template Pug anciennement appelé Jade. </p>
    </article>
    <article class="pug">
      <h1>PUG</h1>
      <h3>Les commandes pour installer pug :</h3>
      <p class="commande-install">npm install pug-cli -g</p><br>
      <h3>Exemples de synxtaxe avec pug :</h3>
      <div>
        <article class="version-pug">
          <h2>Ceci est un titre en h2</h2>
          <div class="div">Ceci est une div</div>
          <div id="id">Ceci est un id</div>
        </article><br>
        <article class="image"> <img src="/assets/syntaxe.png" alt="syntaxe"></article><br>
      </div>
      <div> 
        <article class="version-html">
          <h3>Les commandes pour mettre le document pug en html </h3>
          <div class="commande-html">
            <p>cd views</p>
            <p>pug -P index.pug</p>
          </div>
        </article>
        <h3>résultat de la synxtaxe avec html :</h3>
      </div>
    </article>
  </body>
</html>